* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

main {
    position: relative;
}

i {
    font-size: 1.3rem;
    color: #afafaf;
}

/*
BACKGROUND UP and DOWN screen
*/
.bg-up-screen {
    background-color: #009688;
    height: 30vh;
}

.bg-down-screen {
    height: 70vh;
    background-color: #d8dbd5;
}

/*
BOX CONTENT APP
*/

.box {
    position: absolute;
    width: 1400px;
    height: 850px;
    top: 3%;
    left: 15%;
    background-color: white;
    background-position: center;
}

/*Box child*/
#list-Of-Contact {
    width: 30%;
    height: 100%;
}

#chat {
    width: 70%;
    height: 100%;
    border: 1px solid #eaeaea;
}

#user {
    width: 100%;
    height: 8%;
    border: 1px solid #eaeaea;
    background-color: #eaeaea;

}

div.image img {
    width: 40px;
    height: 80%;
    border-radius: 50%;
    object-fit: center;
}


#notification {
    width: 100%;
    height: 10%;
    background-color: #8edafc;

}

#notification i {
    color: #8edafc;
    padding: 15px;
    border-radius: 50%;
    background-color: white;
}


div.text p {
    font-size: 1rem;
    font-weight: 500;
}

div.text p:last-child {
    text-decoration: underline;
    font-size: .8rem;
    color: #788f93;
}

#search {
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    padding: .5rem;
}

div.user {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border: 1px solid #eaeaea;
    padding: .5rem;
    position: relative;
}

div.user:hover {
    background-color: #e9ebeb;
    cursor: pointer;
}

div.time {
    position: absolute;
    top: 0px;
    right: 10px;
}




/*current chat*/
div.current-contact {
    width: 100%;
    height: 8%;
    border-left: 1px solid #817676f2;
    background-color: #eaeaea;
    padding: .5rem;
}

div.body {
    width: 100%;
    height: 84%;
    background-image: url("../imgs/mine.jpg");
    padding: 3rem;
    overflow: scroll;

}

div.body div.messages {
    border: 1px soldi black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: 30%;
    position: relative;

}

.bg-white-message {
    background-color: white;
}

.bg-green-message {
    background-color: lightgreen;
}


div.body div.messages span {
    font: .3rem;
    color: grey;
    position: absolute;
    bottom: 0px;
    right: 5px;

}

div.body div.messages span.delete {
    top: 13px;
    right: 12px;
    cursor: pointer;
}


div.container-message {
    width: 100%;
    height: 100%;
    padding: 5rem;

}

div.message {
    width: 100%;
    height: 8%;
    background-color: #f1eeea;
}


div.message {
    padding: .5rem;
}

div.emoji {
    width: 10%;
    height: 100%;
}

div.emoji i {
    color: #64676a;
    font-size: 1.6rem;
}

div.my-input {
    width: 80%;
    height: 100%;
}


div.memo {
    width: 10%;
    height: 100%;
}

div.memo i {
    color: #64676a;
    font-size: 1.6rem;
}